<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">

</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <h3 style="margin-top: 50px;">Frequently Asked Questions</h3>

        <p>What is a skin cancer detection website?<br>
            A skin cancer detection website is an online platform that utilizes artificial intelligence and machine learning
             algorithms to analyze images of skin lesions and provide an assessment of whether they are likely
             to be malignant (cancerous) or benign (non-cancerous).
        </p>

        <p>How does the skin cancer detection process work?<br>
            Our skin cancer detection website uses advanced algorithms to analyze uploaded images of skin lesions. 
            The algorithm examines various characteristics of the lesion, such as asymmetry, border irregularity, color variation, and size, to determine the likelihood of malignancy. 
            The analysis is based on a trained model that has been developed using a large dataset of skin lesion images.
        </p>

        <p>Can the skin cancer detection website diagnose skin cancer with 100% accuracy?<br>
            No, the skin cancer detection website cannot provide a definitive diagnosis.
             It is designed to assist users in identifying suspicious skin lesions and to provide a preliminary assessment of the likelihood of malignancy. For an accurate diagnosis, we strongly recommend consulting a qualified healthcare professional or dermatologist who can conduct a thorough examination and,
             if necessary, perform further tests.
        </p>

        <p>Is the skin cancer detection website a substitute for a doctor's visit?<br>
            No, the skin cancer detection website is not a substitute for professional medical advice, diagnosis, or treatment.
            It is intended to be an additional tool to raise awareness and help users identify potentially suspicious skin lesions.
            If you have concerns about a skin lesion or suspect skin cancer, 
            please consult a healthcare professional or dermatologist for a proper evaluation.
        </p>
        
        <p>Can I rely solely on the results provided by the skin cancer detection website?<br>
            No, it is important to understand that the website's results are not intended to be a substitute for professional medical advice. We strongly encourage users to consult a 
            healthcare professional or dermatologist for a thorough evaluation and appropriate guidance based on the results and any concerns they may have.
        </p>

        <p style="margin-bottom: 50px;">How can I provide feedback or report any issues with the skin cancer detection website?<br>
            We value your feedback. If you have any suggestions, questions, or encounter any issues while using the website, 
            please contact our support team at [Contact Information]. We appreciate your input in helping us improve our services.
        </p>


    </div>

    {% include 'footer.html' %}
    
</body>
</html>