<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">

    <style>
        .ptag{
            font-size: 18px;
        }
    </style>
</head>
<body>

    {% include 'nav.html' %}

    <div class="container">

        <h3 style="margin-top: 50px;margin-bottom: 30px;">Privacy Policy for Skin Cancer Detection Website</h3>
        <P class="ptag">At Melanoma Detector System, we are committed to protecting the privacy of our users.
            This Privacy Policy outlines the types of information we collect, how we use and protect that information,
            and your rights regarding your personal data.
            Please read this Privacy Policy carefully to understand our practices regarding your personal information.
        </P>
        <p class="ptag"><strong>Information We Collect:</strong><br>
            a. Personal Information: We may collect personal information such as your name, email address, and contact information when you voluntarily provide it to us.<br>
            b. Log Data: Like many websites, we collect certain information automatically and store it in log files. This information may include your IP address, browser type, referral/exit pages, operating system, and date/time stamps.<br>
            c. Cookies: We may use cookies and similar technologies to enhance your experience on our website. Cookies are small files that a website or its service provider transfers to your device's storage through your web browser, 
            enabling the site's systems to recognize your browser and capture and remember certain information.</p>
        
            <p class="ptag"><strong> of Information:</strong><br>
            a. Personal Information: We may use the personal information you provide to:
            Respond to your inquiries and provide the requested services.
            Improve our website and services based on your feedback.
            Send periodic emails to provide updates, news, or related information.<br>
            b. Log Data and Cookies: We may use log data and cookies to:
            Analyze trends, administer the website, and track users' movements on the site.
            Gather demographic information about our user base.
            Customize and personalize your experience on our website.</p>
        <p class="ptag">
           <strong> Data Security:</strong><br>
            We implement a variety of security measures to protect your personal information. 
            However, please note that no method of transmission over the internet or electronic storage is 100% secure. 
            While we strive to use commercially acceptable means to protect your personal information, we cannot guarantee absolute security.
        </p>
        <p class="ptag"><strong>Third-Party Disclosure:</strong><br>
            We do not sell, trade, or otherwise transfer your personal information to third parties unless we have your consent or are required by law to do so. 
            However, we may share your information with trusted third parties who assist us in operating our website or conducting our business, as long as they agree to keep the information confidential.
        </p>
        <p class="ptag"><strong> Rights:</strong><br>
            You have the right to access, correct, or delete your personal information that we hold. 
            You may also opt-out of receiving emails from us by following the instructions provided in the email.
            Please contact us using the information provided below to exercise these rights.
        </p>
        <p class="ptag" style="margin-bottom: 50px;"><strong>Changes to the Privacy Policy: </strong><br>
            We reserve the right to modify this Privacy Policy at any time. Any changes will be effective immediately upon posting the updated Privacy Policy on our website.
            It is your responsibility to review this Privacy Policy periodically for any updates.
        </p>

    </div>

    {% include 'footer.html' %}
    
</body>
</html>