<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Use </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">

</head>
<body>

    {% include 'nav.html' %}

    <div class="container">

        <h3 style="margin-top: 50px;">Terms of Use</h3>
        <p>Welcome to our Skin Cancer Detection Website. These terms of use govern your access to and use of our website and its related services. By accessing or using our website,
            you agree to be bound by these terms of use. If you do not agree with these terms, please do not use our website.
        </p>

        <p><strong>Accuracy of Information</strong><br>
            Our website provides skin cancer detection services, with hightest accuracy of 83%. but it is important to note that the results obtained from the website
            must be shared with a professional medical diagnosis. The information and results provided by our website are accurate.
            Always consult a qualified healthcare professional for as well as for accurate diagnosis and treatment options.
        </p>

        <p><strong> Responsibilities</strong><br>
            You agree to use our website and its services responsibly and in compliance with applicable laws.
            You must provide accurate and truthful information when using our services.
            You are solely responsible for maintaining the confidentiality of your account credentials and for any activities that occur under your account.

        </p>

        <p> <strong> Property</strong><br>
            The content and materials on our website, including but not limited to text, images, logos, trademarks, and software, are owned by or licensed to us and are protected by intellectual property laws.
            You may not reproduce, distribute, modify, or create derivative works from any part of our website without our prior written consent.
        </p>

        <p><strong>Privacy<br></strong>
            We are committed to protecting your privacy. Our Privacy Policy explains how we collect, use, and disclose personal information when you use our website.
            By using our website, you consent to our collection and use of your personal information as outlined in our Privacy Policy.
        </p>

        <p style="margin-bottom: 50px;"><strong> Third-Party Websites and Services</strong><br>
            Our website may contain links to third-party websites or services that are not owned or controlled by us. We are not responsible for the content, privacy policies, or practices of these third-party websites or services.
            We encourage you to read the terms and conditions and privacy policies of any third-party websites or services that you visit.
        </p>


    </div>

    {% include 'footer.html' %}
    
</body>
</html>